:root {
    --primary-color: #ffd700;
    --primary-color-transparent: #ffd70015;
    --secondary-color: #c900ff;
    --secondary-color-transparent: #c900ff25;
    --text-color: #a29f9f;
    --element-color: #2e2e2e;
    --game-container-color: #1e1e1e;
    --background-color:#121212;
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.game-container {
    width: 500px;
    background-color: var(--game-container-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: ar(--text-color);
}

.arrow {
    cursor: pointer;
    padding: 0px 0px;
    font-size: 14px;
    color: ar(--text-color);
}

.date {
    font-size: 14px;
    color: ar(--text-color);
}

.content {
    text-align: left;
    padding: 0 10px;
}

.instruction h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--text-color);
    text-align: center;
}

.instruction p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
}
.attempt {
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
}
.little-score {
    font-size: 12px;
    color: var(--text-color);
    text-align: left;
}
.targets {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.target-word {
    background-color: var(--primary-color-transparent);
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color-transparent);
    color: var(--secondary-color);
}

.answer-box {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--element-color);
    resize: none;
    background-color: var(--game-container-color);
    color: var(--text-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    max-width: 80px;
    min-width: 80px;
}

.streakBox{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0px;
    max-width: 80px;
    min-width: 80px;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
    opacity: 0.5;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td:first-child {
text-align: left;
}
td:last-child {
text-align: right;
}

button {
    padding: 10px 20px;
    background-color: var(--element-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--game-container-color);
}

.result-item{
}

.results ul{
    padding: 0;
}

.results li {
    background-color: var(--element-color);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    
    overflow: hidden; /* Ensures that the bar fill stays within the boundaries */
}

.results li .new-word {
    font-size: 20px;
}
.match-1 {
    background-color: var(--primary-color-transparent) !important;
}
.match-2 {
    background-color: var(--secondary-color-transparent) !important;
}
.match-1-text {
    color: var(--primary-color) !important;
}
.match-2-text {
    color: var(--secondary-color) !important;
}
.match-1-bar {
    background-color: var(--primary-color) !important;
}
.match-2-bar {
    background-color: var(--secondary-color) !important;
}
.results li .best-word {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 12px;
    color: #b3b3b3;
}

.result-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    z-index: 0;
    background-color: var(--text-color); 
    opacity: 0.3;
    transition: width 0.3s;
    border-radius: 3px;
}


.results li .content {
    position: relative;
    z-index: 1; /* Ensures the text stays above the bar */
}

.score {
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 24px;
}

.star {
    color: var(--element-color);
    font-size: 30px;
    margin: 0 5px;
    transition: color 0.3s;
}

.star.filled {
    color: var(--primary-color);
}


.best-score {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #b3b3b3;
}

.view-answer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.flexBox {
    display: flex;
    justify-content: space-between;
}
.answerBoxButton {
    min-width: 90px;
    max-width: 90px;
}

#view-answer {
    padding: 8px 16px;
    border: none;
    background-color: var(--element-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

#view-answer:hover {
    background-color: var(--primary-color);
}

.solution {
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-color);
    text-align: center; 
}
.viewedSolution {
    background-color: var(--primary-color);
    color: var(--game-container-color);
}
.start-hidden {
    display: none;
}

.is-hidden {
    display: none !important;
}
.is-invisible {
    visibility: hidden;
}
.is-transparent{
  /* pointer-events: none; */
  opacity: 0.5;
}
#info {
    font-size: 10px;
    padding:10px;
    white-space: pre-wrap; 
    text-align: left; 
}

#popup {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;  /* Transition for opacity and delay visibility */
}
#popup.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;  /* Smooth fade-in */
}

/* .column{
    padding: 5px;
} */

#apiKeyModal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); z-index: 1000;
    /* display: flex;  */
    justify-content: center; 
    align-items: center;
}
#modalContent {
    background: #fff; padding: 20px; border-radius: 5px; text-align: center;
}